<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Wikidrill</li>
        <li>{{#link-to 'quizzes'}}Quizy{{/link-to}}</li>
        <!--<li>{{#link-to 'sesions'}}Sesje{{/link-to}}</li>-->
        <!--<li>{{#link-to 'about'}}O aplikacji{{/link-to}}</li>-->
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <h1 class="page-title"></h1>
  <div class="outlet-container">
    {{outlet}}
  </div>
</div>


