<table>
  <thead>
  <tr>
    <th>Nazwa</th>
    <th>Akcje</th>
  </tr>
  </thead>
  <tbody>
  {{#each quizzes as |quiz|}}
    <tr>
      <td>{{quiz.name}}</td>
      <td>
        <div class="small button-group">
          {{#link-to "quizzes.view" quiz.id class="button" }}Przejrzyj{{/link-to}}
          {{#link-to "quizzes.append" quiz.id class="success button"}}Dodaj pytania{{/link-to}}
          <a class="alert button" {{action "delete_item" quiz}}>Usuń</a>
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>